<h4 class="ui horizontal divider header">
  <i class="user icon"></i>
  Profile
</h4>
<br />
<div class="ui middle aligned center aligned grid">
  <div class="ui cards">
    <div class="card">
      <div class="image">
        <img src="http://random-octodex.herokuapp.com/random"/>
      </div>
      <div class="content">
        <div class="header"><%= @user.first_name %> <%= @user.last_name %></div>
        <div class="meta">
          <a><%= @user.role %></a>
        </div>
        <div class="description">
          <%= @user.address %>
        </div>
      </div>
      <div class="extra content">
        <span class="right floated">
          Joined in <strong><%= @user.created_at.to_formatted_s(:monthyear) %></strong>
        </span>
        <span>
          <%= rating_for @user, "note_user", half_show: true, enable_half: true  %>
        </span>
      </div>
    </div>
  </div>
</div>
<br />
<% @commentable = @user %>
<% @comments = @commentable.comments.recent.limit(10).all %>
<div class="ui message">
  <h3 class="ui dividing header">Latest Comments</h3>
  <% @comments.each do |c| %>
  <br />
  <div class="comment">
    <h3 class="ui dividing header"><p class="avatar">
      <%= link_to user_path(c.user_id) do %>
      <img src="http://random-octodex.herokuapp.com/random" height="80" width="80">
      <% end %>
    </p></h3>
    <div class="content">
      <%= link_to User.find(c.user_id).first_name, user_path(c.user_id) %>
      <span class="date">on <%= c.created_at.strftime("%A %d %b. %Y  %k:%M:%S") %></span>
      <div class="text">
        <%= c.comment %>
      </div>
    </div>
  </div>
  <% end %>
  <br>

  <%= form_tag "/users/add_new_comment" do %>
  <form class="ui reply form">
    <div class="field">
      <%= hidden_field_tag "id", @user.id %>
      <%= text_area_tag (:comment)  %>
    </div>
    <div>
      <%= button_tag(type: "submit", class: "ui blue basic icon button") do %>
      <i class="icon edit"></i> Send review
      <% end %>
    </div>
  </form>
  <% end %>
</div>


<% if @products != nil %>
<table class="ui striped celled table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
    <% @user = User.find(product.user_id) %>
    <tr>
      <td><%= product.title %></td>
      <td><%= product.description %></td>
      <td><%= product.price %><i class="euro icon"></i></td>
      <td>
        <%= link_to product, :class=>  "ui blue basic button" do %> <i class="unhide icon"></i> <%= "Show" %> <% end %>
        <% if current_user != nil &&  current_user.role == "admin" %>
        <%= link_to edit_product_path(product), :class=>  "ui blue basic button" do %> <i class="edit icon"></i> <%= "Edit"  %> <% end %>
        <%= link_to product, method: :delete, data: { confirm: 'Are you sure?' }, :class=>  "ui red basic button" do %> <i class="trash outline icon"></i> <%= "Delete" %> <% end %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Product', new_product_path %>

<% end %>
