<h4 class="ui horizontal divider header">
  <i class="tag icon"></i>
Listing products
</h4>
<table class="ui striped celled table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th>User</th>
      <th>Ratings</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
    <% @user = User.find(product.user_id) %>
    <tr>
      <td><%= product.title %></td>
      <td><%= product.description %></td>
      <td><%= product.price %><i class="euro icon"></i></td>
      <td><%= link_to @user do %><%= @user.first_name %> <% end %></td>
      <td><%= rating_for product, "note_product", half_show: true, enable_half: true  %></td>
      <td>
        <%= link_to product, :class=>  "ui blue basic button" do %> <i class="unhide icon"></i> <%= "Show" %> <% end %>
        <% if current_user != nil &&  current_user.role == "admin" %>
        <%= link_to edit_product_path(product), :class=>  "ui blue basic button" do %> <i class="edit icon"></i> <%= "Edit"  %> <% end %>
        <%= link_to product, method: :delete, data: { confirm: 'Are you sure?' }, :class=>  "ui red basic button" do %> <i class="trash outline icon"></i> <%= "Delete" %> <% end %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @collection, renderer: BootstrapPagination::Rails, inner_window: 1, outter_window: 1 %>

<%= link_to 'New Product', new_product_path %>
